.header {
  display: flex;
  flex-direction: row;
  height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #e5e5e5;
  width: 880px;
  font-family: "Inter-Light";
}

.header__title {
  font-size: 2.25rem;
  margin: 0;
  letter-spacing: 1px;
}

.header__span {
  font-size: 0.56rem;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 0 20px;
    width: auto;
  }
}
