.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter-Light";
  width: 100%;
  margin: 0;
}

.profile__spacing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__name {
  font-size: 2.625rem;
  letter-spacing: 1.2px;
  margin: 0 18px 0 0;
}

.profile__editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background: url("../images/Edit_Button.png") no-repeat;
  object-fit: cover;
  margin: 0;
  padding: 12.2px;
}

.profile__editButton:hover {
  cursor: pointer;
  transition: ease 0.2s;
  z-index: 1;
  opacity: 0.6;
}

.profile__editButton:hover {
  cursor: pointer;
}

.profile__dedication {
  font-size: 1.125rem;
  margin: 7px 0 0 0;
}

.createPlace__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #ffffff;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  height: 50px;
  width: 150px;
  background: url("../images/Add_Button.png") no-repeat center center;
  background-size: auto;
}

.createPlace__button:hover {
  cursor: pointer;
  transition: ease 0.2s;
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    align-items: center;
  }

  .profile__spacing {
    flex-direction: column;
    align-items: center;
  }

  .profile__picture {
    margin: 0;
  }

  .profile__container {
    align-items: center;
    margin: 15px 0 0;
  }

  .profile__content {
    margin: 0;
    height: 22px;
    gap: 10px;
  }

  .profile__name {
    font-size: 1.375rem;
    margin: 0;
  }

  .profile__dedication {
    font-size: 0.875rem;
    margin: 14px auto 36px;
    text-align: center;
  }

  .createPlace__button {
    width: 282px;
  }
}
